.contacts__header {
  text-align: center;
  margin-bottom: 40px;
}

.contacts__lead {
  margin-bottom: 10px;
}

.contacts__list {
  @include list-reset;
  text-align: center;
}

.contacts__item {
  margin-bottom: 30px;
}

.contacts__map {
  width: 100%;
  height: 200px;
  background-color: pink;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 40px;

    position: absolute;
    top: 0;
    left: 0;

    background-image: url("../../img/bg-triangle-white-footer.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
