.main-nav {
  position: relative;
  background-color: $default-color;

  @media (max-width: $desktop-width - 1px) {
    &--nojs .main-nav__toggle {
      display: none;
    }

    &--opened .main-nav__toggle {
      width: 24px;

      &::before,
      &::after {
        content: "";

        width: 32px;
        height: 3px;

        background-color: #ffffff;

        position: absolute;
        top: 10px;
        right: -4px;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &--closed {
      background-color: rgba(#000000, 0.3);

      .main-nav__toggle {
        width: 50px;

        &::before {
          content: "";
          height: 3px;
          background-color: #ffffff;

          position: absolute;
          top: 0;
          left: 0;
          right: 0;

          box-shadow:
            0 10px 0 #ffffff,
            0 21px 0 #ffffff;
        }
      }

      .main-nav__menu {
        display: none;
      }
    }
  }
}

.main-nav__toggle {
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
  right: 20px;
  top: 21px;
  background: none;
  cursor: pointer;
  height: 24px;
  transition: 0.3s;
}

.main-nav__container {
  padding-top: 22px;
  padding-bottom: 25px;
}

.main-nav__logo {
  fill: #ffffff;

  &--desktop,
  &--tablet {
    display: none;
  }
}

.main-nav__menu {
  transition: 0.3s;
}

@media (min-width: $tablet-width) {
  .main-nav__logo {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .main-nav__container {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  .main-nav__toggle {
    top: 43px;
  }
}
