.social {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.social__list {
  @include list-reset;
  display: inline-flex;
  margin-right: -17px;
}

.social__item {
  margin-right: 17px;
}

.social__link {
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  border: solid 3px rgba(#283645, 0.1);
}
