$font: "OpenSans", "Futura", sans-serif;
$default-font-size: 14px;
$default-line-height: 24px;
$default-color: #283645;
$marker-color: #d22856;

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
